# Ignorar entornos virtuales
venv/
env/
__pycache__/

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de caché de Python
*.pyc
*.pyo
__pycache__/
*.bad

# Ignorar todos los archivos CSV
*.csv

# Ignorar el paquete "database"
database/
